In [4]:
import pandas as pd

In [5]:
import numpy as np
from scipy import stats

In [6]:
#importing tstats
from scipy.stats import ttest_1samp, ttest_ind, ttest_rel
import scipy.stats as stats

In [7]:
df=pd.read_csv("C:\\Users\\Lenovo\\Downloads\\Cutlets.csv")
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [8]:
#performing 2 sample t test
#H0= mean diameter of cutlets of unit 1 is equal to mean diameter of cutlets of unit 2
#Ha= mean diameter of cutlets of unit 1 is not equal to mean diameter of cutlets of unit 2

ttest_ind(df['Unit A'].dropna(),df['Unit B'].dropna(),alternative='two-sided')

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [9]:
#Assuming alpha to be 0.05
#As p vavlue is greater than 0.05 we accept null hypothesis

# ANOVA

In [10]:
#as there are more than 2 parameters to be compared we use ANOVA test using F statistic
lab=pd.read_csv("C:\\Users\\Lenovo\\Downloads\\LabTAT.csv")
lab.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [12]:
#Ho=No difference in average turn around time
#Ha=There are differences in average turn around time
stats.f_oneway(lab.iloc[:,0],lab.iloc[:,1],lab.iloc[:,2],lab.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
#As p values is greater than 0.05 we accept null hypothesis.

# Chi Square

In [13]:
co=pd.read_csv("C:\\Users\\Lenovo\\Downloads\\Costomer+OrderForm.csv")
co.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [14]:
co['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [15]:
co['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [16]:
co['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [17]:
co['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [18]:
co.isna().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [19]:
observed=[29,33,31,20]

In [20]:
expected=[28.25,28.25,28.25,28.25]

In [21]:
stats.chisquare(f_obs=observed, f_exp=expected)

Power_divergenceResult(statistic=3.495575221238938, pvalue=0.3213364533760661)

#  p> significance level of 0.05, hence we reject alternate hypothesis and conclude defective percentages do not differ across regions

#  Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.!

In [25]:
males=[50,142,131,70]
females=[550,351,480,350]
ratio=[0.09,0.40,0.27,0.2]

In [26]:
observed1=[0.09,0.40,0.27,0.2]
expected1=[0.24,0.24,0.24,0.24]

In [27]:
stats.chisquare(f_obs=observed1, f_exp=expected1)

Power_divergenceResult(statistic=0.21083333333333337, pvalue=0.9758217664121275)

 #  p> alpha,hence we reject null hypothesis and conclude that male to female buyer ratios are not equal across the regions